
body {
background: rgb(86, 97, 160);
    
}

* {
    text-decoration: none;

padding: 0%;
margin: 10px;
border: 0%;
}

a {
    color: rgb(255, 255, 255);
    background-color: rgb(43, 83, 121);
    border: solid 3px rgb(37, 74, 114);
    width: 75%;
}

.headline{
display: flex;
justify-content: space-between;
width: 75%;


}
.gamename {
    color: rgb(255, 255, 255);
    background-color: rgb(43, 83, 121);
    border: solid 3px rgb(37, 74, 114);
    width: auto;
    height: 50%;
}

.storepage {
color: rgb(255, 255, 255);
padding-bottom: 50px;
background-color: rgb(43, 83, 121);
border: solid 3px rgb(37, 74, 114);
width: auto;
height: 0px;
text-align: center;
}



.director{
width: 75%;
height: 30%;

font-size: 25px;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
align-content: flex-start;
}




