
body {
    background: rgb(86, 97, 160);
    display: flex;

}

* {

padding: 0%;
margin: 10px;
border: 0%;
}

a {
    color: black;
}

.headline{
flex-direction: column-reverse;
padding-bottom: 50px;
}

.director{
    width: 800px;
    height: 50px;
    border: dotted 3px black;
    background-color: rgb(47, 108, 165) ;
    flex-direction: column;
    font-size: 25px;
    font-style: italic;
    
}




